In [41]:
# Import libraries
import pandas as pd
from surprise import prediction_algorithms, Reader, Dataset, accuracy, SVD
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
from collections import defaultdict

In [18]:
# import CSV
df_combined = pd.read_csv('combined.csv', encoding='latin-1', low_memory=False)

In [19]:
# Filtering NaN from item_id column and removing event_name from event_name column
df_combined_filtered = df_combined.drop(df_combined[df_combined.item_id.isnull()].index)
df_combined_filtered = df_combined_filtered.drop(df_combined_filtered[df_combined_filtered.event_name == "event_name"].index)

In [20]:
# Replacing events by assigned weight
df_combined_filtered = df_combined_filtered.replace('view_item', 1)
df_combined_filtered = df_combined_filtered.replace('add_to_cart', 2)
df_combined_filtered = df_combined_filtered.replace('purchase', 3)

In [21]:
# Create a new DF with only the columns we need
df_matrix = df_combined_filtered.filter(['user_id','item_id','event_name'], axis=1)
df_matrix.head()

,user_id,item_id,event_name
0,02FE33EE8FA641E8B0510FAAA737D927,505e396a-f4a0-46be-911f-809d29d7d3d6,2
1,1D9B56EB0D5347C586799CAC48397B5E,5459ae0d-ae4f-49fa-bd03-4a101f02b6a3,1
2,E8AE92144FB94FBA91C99DE513C6F910,494bc0b7-de10-428a-94f1-8a0da5161774,1
3,7F35FA4501F34494A9EC6B5BD77368F8,15adc2b9-0e7c-439b-a265-3f7ae703a82d,1
4,BA9567962ABE41EDBC7A7FF9476C80FB,00d0a735-79ad-4dad-b8f5-88e305f444c2,2

In [22]:
# we only need highest event_name value 
# (there are some cases that for an uiser and item we have 3 records for each event_name value)
df_matrix = df_matrix.sort_values("event_name", ascending=False).drop_duplicates(['user_id','item_id'])

In [23]:
# reset indexes 
df_matrix = df_matrix.sample(frac=1).reset_index(drop=True)

In [24]:
# We extract the unique values from the user_id to a new variable
users_unique = df_matrix.user_id.unique()
# Assigning the users_unique to a dictionary
users_dict = dict(enumerate(users_unique.flatten(), 1))
# Same dictionary as above but with the keys and values inverted
users_dict_inv = {v: k for k, v in users_dict.items()}
# We assign the dictionary to our user_id column in the df_matrix
df_matrix['user_id'] = df_matrix['user_id'].map(users_dict_inv)
df_matrix

         user_id                               item_id  event_name
0              1  3aeba0bb-c799-4d12-bfa2-80d8cfdb2e52           1
1              2  2a2ea74b-2536-415a-8939-84c909e8165b           3
2              3  23dead9f-83a9-43d8-9053-11691244b485           2
3              4  5df780ea-d967-47cc-96cb-5fb3d03d59ff           3
4              5  8a24b831-95c6-4a78-9972-cbd352f27a1b           3
...          ...                                   ...         ...
9340219    19148  a9ef7fff-c11d-404f-a426-cefa3b501ac3           1
9340220     8647  95425e47-bc2c-445e-b315-a078c35a8043           3
9340221    33111  5e2459b9-35c1-4be6-8178-8b46e0315599           1
9340222     3642  9185f1a0-f261-4b62-833a-16c204cfcb7c           2
9340223   142195  05d9292d-96a0-42c5-95fc-61e4933320f8           3

[9340224 rows x 3 columns]

In [25]:
# We extract the unique values from the user_id to a new variable
items_unique = df_matrix.item_id.unique()
# Assigning the users_unique to a dictionary
items_dict = dict(enumerate(items_unique.flatten(), 1))
# Same dictionary as above but with the keys and values inverted
items_dict_inv = {v: k for k, v in items_dict.items()}
# We assign the dictionary to our user_id column in the df_matrix
df_matrix['item_id'] = df_matrix['item_id'].map(items_dict_inv)
df_matrix

         user_id  item_id  event_name
0              1        1           1
1              2        2           3
2              3        3           2
3              4        4           3
4              5        5           3
...          ...      ...         ...
9340219    19148    52780           1
9340220     8647     1462           3
9340221    33111    24684           1
9340222     3642     7358           2
9340223   142195     2087           3

[9340224 rows x 3 columns]

In [26]:
#create a data reader in scale of 1-3 of rating (min-max)
reader = Reader(rating_scale=(1, 3))
# generate data only with needed columns, event_name colums will be rating for Suprise
data = Dataset.load_from_df(df_matrix[['user_id', 'item_id', 'event_name']], reader)

In [27]:
# event_name (rating)
raw_ratings = data.raw_ratings

In [28]:
# train with 90%
# test set with 10%
threshold = int(.9 * len(raw_ratings))
A_raw_ratings = raw_ratings[:threshold]
B_raw_ratings = raw_ratings[threshold:]
data.raw_ratings = A_raw_ratings  # data is now the set A

In [29]:
# we have 3*3*3*2 combinations of model, later we will pick the best combination
param_grid = {'n_factors': [5],
              'n_epochs': [5],
              'lr_all': [0.01],
              'reg_all': [0.05],
              'verbose': [True]}
# initialize SVD algo
grid_search = GridSearchCV(SVD, param_grid, measures=['rmse','mae'], cv=2)

In [30]:
# fit
grid_search.fit(data)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4

In [31]:
# get the best score
grid_search.best_score

{'rmse': 0.6606135097668238, 'mae': 0.5545889397974777}

In [32]:
# see results for each combination.
grid_search.cv_results

{'split0_test_rmse': array([0.66045065]),
 'split1_test_rmse': array([0.66077637]),
 'mean_test_rmse': array([0.66061351]),
 'std_test_rmse': array([0.00016286]),
 'rank_test_rmse': array([1]),
 'split0_test_mae': array([0.55443892]),
 'split1_test_mae': array([0.55473896]),
 'mean_test_mae': array([0.55458894]),
 'std_test_mae': array([0.00015002]),
 'rank_test_mae': array([1]),
 'mean_fit_time': array([22.40068495]),
 'std_fit_time': array([0.11970985]),
 'mean_test_time': array([44.11881554]),
 'std_test_time': array([0.1598295]),
 'params': [{'n_factors': 5,
   'n_epochs': 5,
   'lr_all': 0.01,
   'reg_all': 0.05,
   'verbose': True}],
 'param_n_factors': [5],
 'param_n_epochs': [5],
 'param_lr_all': [0.01],
 'param_reg_all': [0.05],
 'param_verbose': [True]}

In [33]:
# set the algorithm with best options (learning rate, epochs, reg_alls, nfactor)
algo = grid_search.best_estimator['rmse']

In [34]:
# retrain on the whole set A
trainset = data.build_full_trainset()
algo.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4

### RMSE for traindata

In [35]:
# Compute biased accuracy on A
predictions = algo.test(trainset.build_testset())
print('Biased accuracy on A,', end='   ')
accuracy.rmse(predictions)

Biased accuracy on A,   RMSE: 0.6472

0.6472425894190661

### RMSE for testdata

In [36]:
# Compute unbiased accuracy on B
testset = data.construct_testset(B_raw_ratings)  # testset is now the set B
predictions_for_test = algo.test(testset)
print('Unbiased accuracy on B,', end=' ')
accuracy.rmse(predictions_for_test)

Unbiased accuracy on B, RMSE: 0.6587

0.6586520269800202

In [37]:
# manually checking predictions for testset
def get_prediction_for_index(id_prediction):
    user = predictions_for_test[id_prediction][0]
    item = predictions_for_test[id_prediction][1]
    print('user_id:', users_dict[user], ' product_id: ', items_dict[item])
    ratings = df_matrix.loc[(df_matrix['user_id'] == user) & (df_matrix['item_id'] == item)]
    print('\n')
    print('Recommended Score: ',predictions_for_test[id_prediction][3])
    print('User rating (from settest): ', ratings.event_name.values[0] )

In [38]:
# get top recommendations by each user
def get_top_n(predictions, n=10):
    # First map the predictions to each user.
    top_n = defaultdict(list)
    for uid, iid, true_r, est, _ in predictions:
        top_n[uid].append((iid, est))

    # Then sort the predictions for each user and retrieve the k highest ones.
    for uid, user_ratings in top_n.items():
        user_ratings.sort(key=lambda x: x[1], reverse=True)
        top_n[uid] = user_ratings[:n]
    return top_n

In [42]:
top_n = get_top_n(predictions_for_test)

In [43]:
def get_user_top_n(user):
    user_id = users_dict_inv[user]
    top = top_n[user_id]
    new_list = []
    for idx, val in enumerate(top):
        item_id = items_dict[val[0]]
        new_list.append((item_id, val[1]))
    return new_list

## Testing agains 10% (testset)
#### this will get for an user-item recommended value

In [44]:
get_prediction_for_index(6718)

user_id: BAD094451BEE4D159F86FC150FF9728B  product_id:  9e096825-4f3c-4273-bfea-116164b7691a


Recommended Score:  1.6270987824413818
User rating (from settest):  2

In [45]:
get_prediction_for_index(912379)

user_id: 18A564B8B3604A33ABCE71153787A4BE  product_id:  8f9fb479-af05-45dc-b81e-d76ae8274b30


Recommended Score:  2.5931078259921505
User rating (from settest):  3

In [46]:
get_prediction_for_index(86123)

user_id: E15E6143272D4D778C87782CD83B0E20  product_id:  d3602fe3-829e-41a6-a06a-1eb4964d1eb1


Recommended Score:  1.4817500375522719
User rating (from settest):  3

In [47]:
get_prediction_for_index(12319)

user_id: 6d9a6646a8e5b77a4ea8232c863d3bd3  product_id:  cb55c1de-6f0e-44d5-85a5-61041f6063df


Recommended Score:  2.2090904958027777
User rating (from settest):  2

In [48]:
get_prediction_for_index(8612)

user_id: daf2d2862ead2e24eeeee3a017a6eb95  product_id:  eeb38d9d-5fb6-4927-b66d-8b8b7487a722


Recommended Score:  2.107171162838111
User rating (from settest):  2

## testing by user id
#### this will get top of reccomendations for a given user

In [51]:
get_user_top_n('enter user id above')

[('89eef3ca-786d-41eb-ad8c-b7b0613f32c7', 2.356930416142695),
 ('67220e57-17fd-40f4-8d31-40e7fe348622', 2.228293225402106),
 ('017be44f-ffbc-44dd-951f-2abc929c27ff', 2.2278075898308622),
 ('cb55c1de-6f0e-44d5-85a5-61041f6063df', 2.2090904958027777),
 ('13a46f60-6e5b-4da3-ac1b-2223b63da305', 2.194459578002611)]

In [52]:
get_user_top_n('enter user id above')

[('0f4a329f-ee1d-495e-bd49-6d57e41da1c2', 2.397619920982559),
 ('6a9525b8-23c8-40f2-80e8-3f9e7c75f605', 2.371654305239083),
 ('9a433a53-d489-4bff-abe2-2cc611d00d3e', 2.294907019489244),
 ('641dec60-82d4-48c6-a1be-82593c73ebe3', 2.272811685435234),
 ('2bbc897c-368b-4615-9f76-48a871806172', 2.2272181433378138),
 ('eeb38d9d-5fb6-4927-b66d-8b8b7487a722', 2.107171162838111),
 ('44bfa1d5-b6bc-4917-b899-72460a3d9dd4', 2.0930094440031004),
 ('8662b085-511f-4ae1-a4ef-063ebf5c5b98', 2.082354121965674),
 ('148f9a23-082a-4fbf-9c5b-4f53c86931c6', 1.9933496013479801),
 ('b2166d46-d0b2-4c04-bae0-6eacc62128f1', 1.8972737689258985)]